{
	"extends": "standard-with-typescript",
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"sourceType": "module",
		"project": "./tsconfig.json",
		"allowImportExportEverywhere": true
	},
	"env": {
		"node": true,
		"mocha": true,
		"es6": true
	}
}
